/* Applies to all elements */
* {
	/* apply a natural box layout model to all elements */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * See https://developer.mozilla.org/en/Images,_Tables,_and_Mysterious_Gaps
 *+ for why this is needed. (it doesn't apply to just tables)
 */
a, img {
	display: inline-block;
	vertical-align: bottom;
}

/* main.css */

.text-content, p {
	line-height: 150%;
}

.monospace, code {
	font-family: "DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono",Monaco,"Lucida Console","Courier New",monospace;
}

.update, .draft, code {
	background: rgba(248, 232, 207, 0.2); /*#f8e8cf*/
	border: none;
	border-radius: 0.5em;
	margin: 15px;
	padding: 15px;
	display: block;
}

.update, .draft, p code, span code, li code {
	/* padding: [top/bottom] [left/right] */
	padding: 1px 5px;
	margin: 0px;
	display: inline;
}

img {
	border: none;
}

h1 { font-size:1.5em; }
h2 { font-size:1.4em; }
h3 { font-size:1.1em; }
h4, h5, h6 { font-size:1.1em; }

/* theme.css */

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "DejaVu Sans","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;
	height: 100%;
	background-color: #689CD2;
}

* {
	color: white;
	border: 0px solid #A3A9FA;
}

#dynamic {
	max-width: 960px;
	margin: auto;
	padding: 20px;
}

.meta {
	font-weight: bold;
}

.tags {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.tags li {
	font-size: 0.8em;
	list-style: none;
	display: inline;
	/* padding: [top] [right] [bottom] [left] */
	padding: 0 5px 0 0;
	margin: 0;
}

#header {
	display: block;
	background: #3564B2;
	margin: 0;
	padding: 0;

	-moz-box-shadow: 0 2px 2px #3564B2;
	-webkit-box-shadow: 0 2px 2px #3564B2;
	box-shadow: 0 2px 2px #3564B2;
}

#header ul {
	padding: 0px;
	margin: 0;
}

#header li {
	display: inline-block;
}

#header a {
	font-weight: bold;
	padding: 15px 30px;
}

header img {
	display: none;
}

footer {
	clear: both;
	/* margin: [top] [right] [bottom] [left] */
	margin: 40px -15px 0 -15px;
	border-top-width: 1px;
	/* padding: [top/bottom] [left/right] */
	padding: 0 15px;
}

footer img {
	display: none;
}

::selection {
	color: white;
	text-shadow: none;
	background: #778DA8;
}

#posts a {
	text-decoration: none;
}

#posts {
	margin: 0;
	padding: 0;
}

#posts li {
	list-style: none;
	display: block;
	border-bottom-width: 0px;
	clear: both;
}

#posts h3,
#posts time {
	margin: 0;
	padding: 10px;
}

#posts h3 {
	display: inline-block;
	border-bottom-width: 1px;
}

#posts time {
	text-align: right;
	display: none;
}

#pagination {
	margin-top: 20px;
}

#pagination a {
	text-decoration: none;
}

#pagination .previous:before {
	content: '\AB\20';
}

#pagination .next {
	float: right;
}

#pagination .next:after {
	content: '\20\BB';
}

.icon {
	background-size: 16px;
	padding-left: 18px;
	background-position: 0 center;
	background-repeat: no-repeat;
}

/* Wider displays */

/* This was 960px. The 7px is somehow related to .icon, but I'm not sure how. */
@media (min-width: 967px) {
	#header .icon {
		-webkit-transition-property: background-position;
		-moz-transition-property: background-position;
		-o-transition-property: background-position;
		transition-property: background-position;

		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;

		background-position: 5px -50%;
	}

	#header .icon:hover,
	#header .icon:focus,
	#header .active {
		background-position: 5px 50%;
	}

	#posts li {
		border-bottom-width: 1px;
	}

	#posts h3,
	#posts time {
		width: 49%;
		display: inline-block;
		border-bottom-width: 0px;
	}

	.meta .tags {
		margin-left: 1em;
	}

	header img {
		display: block;

		float: left;
		width: 200px;
		height: 200px;
		margin-right: 2em;
	}

	footer img {
		display: block;
		float: left;
		height: 200px;
		width: 200px;
		/* margin: [top] [right] [bottom] [left] */
		margin: 0px 20px 20px 0px;
		border-radius: 0.5em;
	}
}

iframe {
	padding-top: 20px;
}


.update, .draft {
	display: inline-block;
	/* margin: [top] [right] [bottom] [left] */
	margin: 2em 0 1em 15px;
	padding: 20px;

	border: 1px solid;
}

.update:before {
	display: inline-block;
	content: 'Update:';
	font-weight: bold;
	font-size: 1.3em;
}

.draft {
	background: rgba(248, 132, 107, 0.3);
	font-weight: bold;
}

/* Active link */

#header .active,
#header a:hover,
#header a:focus
{
	background-color: rgba(0, 0, 0, 0.2);
}
