* {
	color: #FFF;
	background-color: #557D3E;
}

#header {
	background-image: url("/themes/dove/header.jpg");
}

#page div {
	background-color: #60665A;
	border-color: #060A15;
}

a:link,
a:visited {
	color: #A68F98;
}

a:focus,
a:hover,
a:active {
	color: #CCBEC3;
}
