body {
	background-color: #557D3E;
}

#header h1 {
	padding-left: 20px;
}

* {
	color: #FFF;
}

#header {
	background-image: url("/themes/dove/header.jpg");
}

#page div {
	background-color: #60665A;
	border-color: #3E5B2D;
}

a:link,
a:visited {
	color: #EEE;
}

a:focus,
a:hover,
a:active {
	color: #FFF;
}

#navbar {
	float: left;
	position: relative;
	text-align: right;
	right: 170px;
}

/*
* {
	margin: 0;
	padding: 0;
}

#page {
	width: 600pt;
	margin: 40pt auto;
}

#header h1 {
	width: 400pt;
	margin: 20pt auto;
}


#header h1 {
	width: 400pt;
	margin: 20pt auto;
}

#navbar {
	float: left;
	list-style: none;
	text-align: right;
	width: 60pt;
	margin: 0 20pt;
}

#content {
	clear: both;
	padding-top: 20pt;
	margin: 20pt auto;
	width: 400pt;
}
*/
