body {
	background-color: #557D3E;
}

* {
	color: #FFF;
}

#header {
	background-image: url("/themes/dove/header.jpg");
}

#page div {
	background-color: #60665A;
	border-color: #3E5B2D;
}

a:link,
a:visited {
	color: #EEE;
}

a:focus,
a:hover,
a:active {
	color: #FFF;
}
