## Interesting links ##

[Blog](http://blog.duckinator.net)
[a-pastebin.co.cc](http://a-pastebin.co.cc)
[Photo gallery](http://gallery.duckinator.net)
[Miscellaneous](http://misc.duckinator.net)
[Screenshots](http://misc.duckinator.net/ss)
[3D shapes on GBA](http://misc.duckinator.net/dux/gba/3d.php)

[Sitemap](/sitemap)
