## Interesting links ##
[http://blog.duckinator.net](Blog)
[http://a-pastebin.co.cc](a-pastebin.co.cc)
[http://gallery.duckinator.net](Photo gallery)
[http://misc.duckinator.net](Miscellaneous)
[http://misc.duckinator.net/ss](Screenshots)
[http://misc.duckinator.net/dux/gba/3d.php](3D shapes on GBA)

[/sitemap](Sitemap)
