body {
	background: #333;
	font-family: "DejaVu Sans","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;
	height: 100%;
}

.text-content, p {
	line-height: 150%;
	text-align: justify;
}

.text-code {
	font-family: "DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono",Monaco,"Lucida Console","Courier New",monospace;
}

img {
	border: none;
}

#header {
	background: #FFF;
	height: 300px;
	border: 1px solid #000;
}

#page {
	background: #FFF;
	margin: auto;
	width: 850px;
}

#page:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#content {
	border: 1px solid #000;
	padding: 30px;
}

#footer {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
}

#header h1 {
	padding: 10px;
	padding-bottom: 0px;
}

ul#navbar {
	list-style: none;
}

ul#navbar li a:link,
ul#navbar li a:visited {
	border: none;
}

a:link,
a:visited {
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
	border: none;
}

h1 { font-size:24px; }
h2 { font-size:18px; }
h3 { font-size:12px; }
h4, h5, h6 { font-size:10px; }
