* {
	color: #B5A2A9;
}

#header {
	background-image: url("/images/sky.jpg");
}

#content {
	background-color: #181826;
	border: 5px solid #060A15;
}

a:link,
a:visited {
	color: #A68F98;
}

a:focus,
a:hover,
a:active {
	color: #CCBEC3;
}
