body {
	background: #333;
	font-family: "DejaVu Sans","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;
	height: 100%;
}

* {
	color: #B5A2A9;
}

.text-content, p {
	line-height: 150%;
	text-align: justify;
}

.text-code {
	font-family: "DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono",Monaco,"Lucida Console","Courier New",monospace;
}

img {
	border: none;
}

#page {
	margin: auto;
	width: 850px;
}

#page:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#header {
	background-image: url("/images/sky.jpg");
	height: 319px;
}

#content {
	background-color: #181826;
	border: 5px solid #060A15;
	padding: 30px;
}

#footer {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
}

#header h1 {
	padding: 10px;
}

ul#navbar {
	list-style: none;
}

a:link,
a:visited {
	color: #75696D;
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	color: #B5A2A9;
	text-decoration: underline;
}

#valid {
	position: absolute;
	top: 20px;
	margin: auto;
	text-align: right;
	width: 850px;
}

h1 { font-size:24px; }
h2 { font-size:18px; }
h3 { font-size:12px; }
h4, h5, h6 { font-size:10px; }
