## Background ##

I've been interested in <abbr title="Artificial Intelligence">AI</abbr> for a few years now, but only recently started trying to make a serious attempt in it.
Below is a rough design of my current idea.

## Design ##
This will eventually be added :D
