<!DOCTYPE html>
<html>
<head>
{% assign title_suffix = "" %}
{% if page.title and page.title != '' %}
	{% assign title_suffix = " &mdash; " %}
{% endif %}
{% capture bio %}
{% include bio.markdown %}
{% endcapture %}
	<meta charset="utf-8"> 
	<title>{{ page.title }}{{ title_suffix }}duckinator.net</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!--<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">-->
	<link rel="stylesheet" type="text/css" href="/css/all.min.css">
	
	<link rel="alternate" type="application/rss+xml" title="duckinator.net" href="/rss.xml">
</head>
<body class="{{ page.layout }}">
<section id="wrap">
	<asside id="navhead">
		<nav>
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="https://github.com/duckinator">code</a></li>
				<li><a href="/resources/">resources</a></li>
				<li><a href="/rot13-css/">rot13 css</a></li>
				<li><span class="gittip" data-username="duckinator"></span></li>
			</ul>
		</nav>
	</asside>

<section id="dynamic">
{% case page.layout %}

{% when 'post' %}
	{% include layouts/post.html %}
{% else %}
	{% include layouts/default.html %}

{% endcase %}
</section>

	<script src="/js/all.js"></script>
	<script src="/js/jquery-1.7.1.min.js"></script>
	<script src="/gittip/widget.js" data-gittip-css="/gittip/widget.css"></script>
</section>
</body>
</html>
