{% assign title_suffix = "" %}
{% if page.title and page.title != '' %}
	{% assign title_suffix = " &mdash; " %}
{% endif %}
{% capture bio %}
{% include bio.markdown %}
{% endcapture %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>{{ page.title }}{{ title_suffix }}duckinator.net</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	
	<link rel="alternate" type="application/rss+xml" title="duckinator.net" href="/rss.xml">
</head>
<body class="{{ page.layout }}">
<section id="wrap">
	<asside id="navhead" class="clearfix">
		<nav>
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/dux/">dux</a></li>
				<li><a href="/resources/">resources</a></li>
				<li><a href="/contact/">contact</a></li>
			</ul>
		</nav>
	</asside>

	<article id="content">
{% if page.layout == 'post' %}
		<h1 id="post-title">{{ page.title }}</h1>
		<div class="meta">
			<time datetime="{{ page.date | date: '%Y-%m-%d' }}T00:00:00-05:00">{{ page.date | date: '%d %B %Y' }}</time>
			<span class="tags"></span>
		</div>
{% endif %}

{{ content }}

{% if page.layout == 'post' %}
	<footer>
		{{ bio | markdownify }}
	</footer>
{% endif %}
	</article>

	<script type="text/javascript" src="/js/legacyfix.js"></script>
	<script type="text/javascript" src="/js/mail.js"></script>
	<script type="text/javascript" src="/js/rot.js"></script>
	<script type="text/javascript">
		window.onload = function() {
			legacyfix();
			mailfix();
			rot_all();
		}
	</script>
</section>
</body>
</html>
