body {
	background-color: #333;
	color: #FFFFFF;
}

header h1, header ul li a {
	color: #FFF;
}

#page > div,
div.post div {
	background-color: #444;
	border-color: #202020;
}

a:link,
a:visited {
	color: #FFF;
}

a:focus,
a:hover,
a:active {
	color: #CCC;
}
