* {
	color: #FFF;
}

body {
	background-color: #333;
}

#header {
	background-image: url("/themes/schecter_guitar_bw/header.jpg");
}

#header h1, #header ul li a {
	color: #FFF;
}

#page div {
	background-color: #444;
	border-color: #111;
}

a:link,
a:visited {
	color: #FFF;
}

a:focus,
a:hover,
a:active {
	color: #CCC;
}
