* {
	color: #B5A2A9;
}

body {
	background-color: #CCC;
}

#header {
	background-image: url("/themes/kaylee_march_2010/header.jpg");
}

#header h1, #header ul li a {
	color: #333;
}

#page div {
	background-color: #181826;
	border-color: #060A15;
}

a:link,
a:visited {
	color: #A68F98;
}

a:focus,
a:hover,
a:active {
	color: #CCBEC3;
}
