body {
	background-color: #37522F;
	color: #FFF;
}

#header {
	background-image: url("/themes/fairview_pier/header.jpg");
}

#header h1, #navbar li a {
	text-shadow: 2px 2px 10px #000000;
}

#header h1, #header ul li a {
	color: #FFF;
}

#page > div {
	background-color: #5D5757;
	border-color: #403E3F;
}

a:link,
a:visited {
	color: #FFF;
}

a:focus,
a:hover,
a:active {
	color: #FFF;
}
