body {
	background-color: #37522F;
	color: #FFF;
}

/*.func {
}

.func .ret {
}

.func .type {
}

.func .name {
}

.func .arg {
}*/

p code, span code, li code {
	border-color: #394531;
}

#header h1, #navbar li a {
	text-shadow: 2px 2px 10px #000000;
}

#header h1, #header ul li a {
	color: #FFF;
}

#navbar {
	opacity: 0.7;
}

#navbar:hover {
	opacity: 0.8;
}

#navbar li a:hover {
	text-decoration: underline;
}

#navbar,
#page > div {
	background-color: #5D5757;
	border-color: #394531;
}

a:link,
a:visited {
	color: #FFF;
}

a:focus,
a:hover,
a:active {
	color: #FFF;
}
