## Miscellaneous information ##
My name is Nick Markwell, also known as duck (or online as "duckinator"). I'm 18 years old as of April 30, 2010, and am in my senior year of high school. I have been programming since 2005. I strongly support [open source software](http://en.wikipedia.org/wiki/Open_source) and the [MIT/X11 license](http://en.wikipedia.org/wiki/MIT_License) license.

## Projects ##
I have many open source projects on [github](http://github.com/RockerMONO/), some of my more interesting ones are listed below.

* [duckinator.net](http://github.com/RockerMONO/duckinator.net): This site
* [dux](http://github.com/RockerMONO/dux): An operating system, see [my page on dux](/dux) for more information
* [piccolo](http://github.com/RockerMONO/piccolo): A toy operating system I wrote
* [oos](http://github.com/RockerMONO/oos): Ny fork of an operating system written by [Scott Olson](http://scott-olson.org)
* [NRO](http://github.com/RockerMONO/nro): Version control informant, similar to [CIA](http://cia.vc) and [FBI](http://fbi.danopia.net)
* [cervello](http://github.com/RockerMONO/cervello): My AI system, written in ruby
* [bashbot](http://github.com/RockerMONO/bashbot): An IRC bot, written in bash

## duckinator.net is open source ##

duckinator.net is completely open source, released under the MIT/X11 license.
Source is available at [http://github.com/RockerMONO/duckinator.net](http://github.com/RockerMONO/duckinator.net)
