body {
	background-color: #333;
	color: #B5A2A9;
}

#page > div {
	background-color: #181826;
	border-color: #060A15;
}

a:link,
a:visited {
	color: #A68F98;
	border-color: #A68F98;
}

a:focus,
a:hover,
a:active {
	color: #CCBEC3;
	border-color: #A68F98;
}
