<h2>A brief overview</h2>

<p>Dux is a new and constantly changing <a href="http://en.wikipedia.org/wiki/Operating_system">Operating System</a> currently designed for <a href="http://en.wikipedia.org/wiki/x86">x86</a> systems, using the equally new and changing <a href="/dux/metodo">metodo kernel</a>.  
It is designed to be clean and easy to work with and is constantly being checked to make sure this is possible.  The dux project began in late 2008 as an experiment which soon became a regular project over the next few months.  More people joined and several revisions of dux were created, leaving a clean and well designed core that will be both fast and extendable.</p>

<h2>What's with the name?</h2>
<p>I was given the nickname duck, courtesy of my friend Ashley, my sophomore (I think..) year of highschool.  Over time pretty much everybody I know started calling me duck.  When I asked a friend what I should call my Operating System, and she said "dux."</p>
<p></p>
<p>I'm assuming they're related.</p>

<h2>The dux team</h2>
<p>Dux was made possible by many people doing various tasks to help keep everything going.</p>
<p>I, and the rest of the group, would like to thank everyone involved (divided into groups):</p>

<ul>
	<li>Programming
		<ul>
			<li><a href="http://danopia.net">Daniel Danopia</a></li>
			<li>Liam Dunn</li>
			<li><a href="http://ricky.elrod.me">Rick Elrod</a></li>
			<li><a href="http://duckinator.net">Nick Markwell</a></li>
			<li<a href="http://scott-olson.org">Scott Olson</a></li>
			<li>James E. Spahlinger</li>
		</ul>
	</li>
	<li>Documentation
		<ul>
			<li><a href="http://duckinator.net">Nick Markwell</a></li>
			<li>Joe T. Techinus</li>
	</li>
</ul>

<h2>More information</h2>
<p>Dux is fully <a href="http://en.wikipedia.org/wiki/Open-source_software">Open-source software</a>, released under the <a href="http://en.wikipedia.org/wiki/MIT_License">MIT/Xorg license</a>.</p>
<p>The source is available at <a href="http://github.com/RockerMONO/dux">http://github.com/RockerMONO/dux</a>.</p>

<h2>Useful links</h2>

<p>Some useful links to documentation of various things:</p>
<h4>Assorted</h4>
<ul>
	<li><a href="http://www.gnu.org/software/grub/manual/multiboot/html_node/Machine-state.html#Machine-state">multiboot specification</a> – contains information on what is and is not set by grub on bootup. If it is not stated here as set, it should be presumed as <b>undefined</b>.
	<li><a href="http://blog.ashchan.com/archive/2008/06/30/tags-on-git">detailed git tagging info</a>
	<li><a href="http://blog.andrewcantino.com/2008/12/04/adding-and-removing-remote-git-tags">short git tagging cheatsheet</a>
</ul>
<h4>Software</h4>
<ul>
	<li><a href="http://virtualbox.org/">VirtualBox</a>
	<li><a href="http://qemu.org/">QEMU</a>
	<li><a href="http://scons.org/">SCons</a>
</ul>
