<pre>
Some info on a robot Joe (ttech) and I (duckinator) are working on.

Brains: laptop
Control: breadboard(s), possibly an arduino or two
Chasis: likely custom - wheels, motors, axles, gearbox(es), frame

It will use tractor drive (speed up wheels on left side to go right, and vice-versa).
</pre>
