* {
	color: #FFF;
}

body {
	background-color: #BAA06F;
}

#header {
	background-image: url("/themes/schwarzfußkatze/header.jpg");
}

#page > div {
	background-color: #776749;
	border-color: #5D4D32;
}

a:link,
a:visited {
	border-color: #FFEDCA;
	color: #FFEDCA;
}

a:focus,
a:hover,
a:active {
	border-color: #FFEDCA;
	color: #FFFFFF;
}
