* {
	color: #FFF;
}

body {
	background-color: #BAA06F;
}

#header {
	background-image: url("/themes/schwarzfußkatze/header.jpg");
}

#page div {
	background-color: #776749;
	border-color: #5D4D32;
}

